section{
    position: relative;
    display: flex;
    width: 1000px;
    height: 600px;
}

section img{
    width: 10px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}